@model IEnumerable<WebApplicationSistemaDeReclamo.Models.ViewModels.ReclamoViewModel>

@{
    ViewData["Title"] = "Listado de reclamos";
}

<div class="mb-2 fs-1 fw-bold"
    <h1> @ViewData["Title"] </h1>
</div>

<div class="mt-2 mb-2">
    <p>
        <a class="btn btn-secondary" asp-action="Create">Crear reclamo</a>
    </p>
</div>


<form action="/Reclamos/Buscar" class="row row-cols-lg-auto align-items-center">
  <div class="col-6">
      <input type="text" value="@ViewBag.textoBuscar" name="textoBuscar" class="form-control" placeholder="Título o Descripción">
  </div>

  <div class="col-6">
        <button type="submit" class="btn btn-secondary">Buscar</button>
  </div>
</form>

<table class="table mt-2 mb-4 mx-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td class="d-flex justify-content-between">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class="dropdown-item" })
                        </li>
                        <li>
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class="dropdown-item" })
                        </li>
                        <li>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class="dropdown-item", onclick="borrarReclamo(this); return false;" })
                        </li>
                    </ul>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function borrarReclamo(linkActual){
        console.log(linkActual)
        bootbox.confirm('Estás seguro de eliminar este reclamo?', function (result) {
            if(result == true){
                window.location = linkActual.href;
            }
        });
    }
</script>